.addToCartDiv {
  display: flex;
  gap: 0.6rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.qtyInput {
  width: 3rem;
  height: 2rem;
  font-size: 1.2rem;
  appearance: none;
  border: solid 1px gray;
  text-align: center;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}

.changeQtyBtn {
  background-color: bisque;
  font-weight: bold;
  font-size: 1.8rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 12px;
  appearance: none;
  padding: 0.5rem;
  border: none;
  color: black;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}

.addToCartBtn {
  appearance: none;
  padding: 0.5rem;
  background-color: bisque;
  width: 6em;
  border: none;
  color: black;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}