.shopDiv {
  background-color: rgb(250, 222, 188);
  padding: 0 15rem ;
  padding-bottom: 2rem;
}

.itemsDiv {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.shopTitle {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: black;
}