.cartPageDiv {
  /* background-color: rgb(250, 222, 188); */
  display: flex;
  padding: 2rem 18rem;
  justify-content: space-between;
}

.cartItemsDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 42rem;
  max-height: 40rem;
  overflow: auto;
}