nav {
  background-color: rgb(42, 42, 42);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: white;
  width: 100vw;
}

.shopName {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.navBtn {
  appearance: none;
  padding: 0.4rem;
  background-color: bisque;
  font-size: 1.5rem;
  border: none;
  color: black;
  box-shadow: 4px 4px 0px 0px white;
  cursor: pointer;
}
